@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    color: white;
    background-color: #202731;
    width: 100%;
    margin: 0;
    /* overflow: hidden; */
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacer {
    /* aspect-ratio: 900/600; */
    width: 100%;
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.polygon-bg {
    background-image: url('./polygons.svg');
}

#repos {
    text-align: center;
}

#repos>:not(.accordion) {
    background-color: transparent;
}

a {
    color: aquamarine;
}

li {
    list-style: none
}

.accordion {
    background-color: #2a3646;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .accordion:hover {
    background-color: #212a36;
} */

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
  